.image {
    background-image: url('background-image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title-container {
    text-align: center;
    color: #020202d3;
    padding: 50px;
  }
  
  .title-container h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .title-container span {
    color: #ff00ff;
  }
  
  .title-container p {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 400;
  }
  
  .reference {
    display: flex;
    justify-content: center;
  }
  
  .reference a {
    color: black;
    background-color: #ff00ff;
    padding: 20px 40px;
    margin: 0 10px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
  }
  
  .reference a:hover {
    background-color: black;
    color: #ff00ff;
  }